<div>
    <h1>Introducción a Angular</h1>
    <p>
        Angular es un framework de desarrollo para construir aplicaciones web de una sola página (SPA).
        Proporciona una estructura y conjunto de herramientas para desarrollar aplicaciones web dinámicas y
        escalables. Angular utiliza TypeScript como lenguaje de programación, que es una extensión de JavaScript
        con características de tipado estático.
    </p>
    <p>
        Con Angular, puedes crear componentes reutilizables, gestionar el estado de la aplicación, manejar
        eventos y realizar comunicación con servicios web. Además, Angular proporciona una poderosa
        funcionalidad de enlace bidireccional de datos, lo que facilita la actualización de la interfaz de usuario
        en tiempo real en respuesta a cambios en los datos de la aplicación.
    </p>
    <p>
        En resumen, Angular es una opción popular para el desarrollo de aplicaciones web complejas y escalables.
        Su arquitectura modular y su conjunto de características facilitan la creación de aplicaciones modernas y
        mantenibles.
    </p>
    @defer (on viewport){
        <app-comments></app-comments>
    }@placeholder {
        <p>.</p>
    }@loading (minimum 2s){
        <p>Cargando comentarios...</p>
    }
</div>